@model ProductModel
@{
    ViewData["Title"] = "Edit";
    var counter = 0;
}
@section ValidationScripts{
    <script src="/modules/ckeditor4/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("editor", {            
            uiColor: '#fca103'
        });
    </script>

}
<h1>Edit Product</h1>
<hr />
@if (ViewBag.Errors != null)
{
    <span>@ViewBag.Errors</span>
}
<form asp-controller="Admin" asp-action="EditProduct" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group row">
                <label asp-for="Id" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Id" type="text" disabled value="@Model.Id" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Name" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Name" type="text" value="@Model.Name" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ImgUrl" class="col-md-2"></label>
                <div class="col-md-10">
                    <input type="hidden" name="ImageUrl" value="@Model.ImgUrl" />
                    <img src="~/img/@Model.ImgUrl" alt="NO PREVIEW" width="100" />
                    <input asp-for="ImgUrl" type="hidden" value="@Model.ImgUrl" />
                    <input type="file" name="file" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Price" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Price" type="text" value="@Model.Price" class="form-control" />
                </div>
            </div>
            <div class="from-group row">
                <label asp-for="Description" class="col-md-2"></label>
                <div class="col-md-10">
                    <textarea id="editor" asp-for="Description">@Model.Description</textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-10 offset-md-2">
                    <button class="btn btn-info btn-sm" type="submit">Update Product</button>
                </div>
            </div>
        </div>
        <div class="col-med-4">

            @foreach (var cats in (List<Category>)ViewBag.AllCategories)
            {
                var isChecked = "";
                @if (Model.SelectedCategories.Any(x => x.Id == cats.Id))
                {
                    isChecked = "checked";
                    <input type="hidden" name="SelectedCategories[@counter].Id" value="@cats.Id" />
                    <input type="hidden" name="SelectedCategories[@counter].Name" value="@cats.Name" />
                    counter++;
                }
                else
                {
                    isChecked = "";
                }
                <div class="custom-control custom-checkbox">
                    <input type="checkbox"
                           name="categoryIds"
                           value="@cats.Id"
                           class="custom-control-input"
                           id="category@(cats.Id)"
                           @isChecked />
                    <label class="custom-control-label" for="category@(cats.Id)">@cats.Name</label>
                </div>
            }
        </div>

    </div>
</form>

